
/* base css */
html, body {
  height: 100%;
  width: 100%
    padding: 0;
    margin: 0;

    height: 100%;
    background-color: #43464B;
}

/*  General CSS  */
 /* Link CSS */

.linkButton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

/* responsive website Css */

.resp-p {
  font-size: 1.3vw;
}

.resp-h {
  font-size: 1.5vw;
}

/* NOTE: Map Page */


/* Map CSS */
#Mapid {
  margin-left: 25%;
  height:100%;
  width: 75%;
}

/* Sidebar CSS */
.mapSidebar {
  margin-left: 0;
  height: 100%;
  width: 25%;
  float: left;
  background-color: lightGrey;
}

/* Test Login in the side bar */
#PH-testLogin {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

#PH-loginButtons {
  display: flex;
  flex-direction: row;
}

#searchbar {
  margin-top: 40px;
}


/* NOTE: Profile Page*/

#maplink {
  color: black;
}

.centerpiece {
  height: 100%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: black;
  padding-bottom: 10%;
  color: green;
}

.topBanner {
  background-color: #43464B;
}

.bannerText {
  color: black;
}

#banner-center_seperator {
  margin-bottom: 0px;
}

#itemCreation {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
}

#imageCreation {
  width: 100%;
  height: 50px;
}

.activityFeedItem {
  padding: 10px;
  border: 1px solid green;
  margin-left: 25px;
  margin-right: 25px;
}

/* NOTE: Settings Css */

.settings {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

#bio {
  vertical-align: text-top;
  width: 95%;
  height: 260px;
}

/* profile picure settings */
.imgSettings {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row:
}

#profilePicSettings {
  width: 25%;
  height: 25%;
  padding-bottom: 20%;
  padding-top: 20%;
  justify-content: flex-start;
}

#or {
  font-size: 2vw;
  padding-bottom: 20%;
  padding-top: 20%;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
}

#defaultProfilePic {
  width: 25%;
  height: 25%;
  padding-bottom: 20%;
  padding-top: 20%;
  justify-content: flex-end;
}
