
/* base css */
html, body {
  height: 100%;
  width: 100%
    padding: 0;
    margin: 0;

    height: 100%;
    background-color: #43464B;
}

/*  General CSS  */
/* responsive website Css */

.resp-p {
  font-size: 1.3vw;
}

.resp-h {
  font-size: 1.5vw;
}

/* NOTE: Map Page */


/* Map CSS */
#Mapid {
  margin-left: 25%;
  height:100%;
  width: 75%;
}

/* Sidebar CSS */
.mapSidebar {
  margin-left: 0;
  height: 100%;
  width: 25%;
  float: left;
  background-color: darkGrey;
  overflow-y: scroll;
}

/* Login in the side bar */

#loginLinkButton {
  margin-top: 5px;
  margin-left: 80px;
  padding-left: 50px;
  padding-right: 50px;
}


#search {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  /* change input width on html inline CSS */
}

#mapToProfileLink {
  margin-left: 85px;
  margin-right: 25px;
}

.pinInfoText {
  margin-left: 30px;
}

/* Pin Creation */
#pinCreation {
  display: none;
  flex-direction: column;
  z-index: 9;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 10px;
}

#close {
  margin-left: 150px;
}

/*Pin Display*/
#pinDisplay {
    display: none;
    flex-direction: column;
    z-index: 9;
}

#openButton {
  width: 25%;
  margin-left: 125px;
}

/* NOTE: Profile Page*/

#profileToMapLink {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 3px;
}

.background {
  background-color: black;
}

.centerpiece {
  height: 100%;
  margin-left: 25%;
  margin-right: 25%;

  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: green;

  background-color: black;
  padding-bottom: 10%;
  color: green;
}

.topBanner {
  background-color: /*#43464B*/black;
  color: green;
}

#profilePic {
  height: 80px;
  width:90px;
}

.bannerText {
  color: green;
  margin-left: 15px;
}

#profileBio {
  color: black;
}

#banner-center_seperator {
  margin-bottom: 0px;
}

#itemCreation {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
}

#imageCreation {
  width: 100%;
  height: 50px;
}

.activityFeedItem {
  padding: 10px;
  border: 1px solid green;
  margin-left: 25px;
  margin-right: 25px;
}

/* NOTE: Settings Css */

.settings {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

#bio {
  vertical-align: text-top;
  width: 95%;
  height: 260px;
}

/* profile picure settings */
.imgSettings {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row:
}

#profilePicUpload {
  width: 25%;
}

#or {
  font-size: 2vw;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
}

#defaultProfilePic {
  width: 30%;
  height: 30%;
  padding-bottom: 5%;
  padding-top: 5%;
  justify-content: flex-end;
}

/* NOTE: Login page CSS */

#loginPageBody {
  background-color: black;
  padding-top: 200px;
}

.containerContainer {
  display: flex;
  flex-direction: row;
}

/* login inputs on login page */
.loginContainer {
  display: flex;
  flex-direction: column;

  /* placement on page */
  margin-left: 21%;
  /*margin-right: 36%;*/




  /* arrangement in Contatiner */
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 100px;

  /* page colour */
  background-color: black;
  color: green;
  border: 3px solid green;
  border-right: 0px;
}

/* The CSS for the two buttons at the bottom of the login screen */
.backButton {
    padding: 0px;
    width: 150px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: black;
    color: green;
    border-color: green;
}

#loginButton {
    margin: 25px 100px 0px 100px;
    padding: 0px;
    width: 250px;
  background-color: black;
  color: green;
  border-color: green;
}


/* register inputs on login page */
.registerContainer {
  display: flex;
  flex-direction: column;

  /* placement on page */
  /*margin-left: 34%;
  margin-right: 36%;*/

  /* arrangement in Contatiner */
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 100px;

  /* page colour */
  background-color: black;
  color: green;
  border: 3px solid green;
}

#registerButton {
  margin: 25px 100px 0px 100px;
  padding: 0px;
  width: 250px;
  background-color: black;
  color: green;
  border-color: green;
}

.username {
  background-color: black;
  color: green;
  border-color: green;
}

.password {
  background-color: black;
  color: green;
  border-color: green;
}
